@font-face {
  font-family: 'Proxima Nova';
  src: url('fonts/Proxima Nova Regular.otf');
}

.text__second-color {
  font-size: 15px;
  color: #858e9c;
}

.see-all {
  color: #1c2534;
  text-decoration: none;
}

.content-width {
  max-width: 950px;
  margin: 0 auto;
}

header {
  height: 68px;
  background: #87b448;
  border-bottom: 2px solid #71973c;

  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 11px;
    padding-bottom: 17px;

    .header__search {
      position: relative;
      width: 435px;
      margin-top: 5px;

      .header__search-icon {
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        top: 2px;
        left: 5px;
        background: url("img/Search.png") center no-repeat;
      }

      input {
        align-self: baseline;
        width: 100%;
        height: 34px;
        padding-left: 38px;
        color: white;
        font-size: 15px;
        background-color: #73993d;
        border-style: none;
        border-radius: 5px;

        &::placeholder {
          color: white;
          transition: 0.3s;

        }

        &:focus::placeholder {
          color: transparent;
          outline: none;
        }

      }

    }

    .header__chat {
      width: 34px;
      height: 34px;
      margin-top: 5px;
      background: url("img/Chat.png") center no-repeat;
    }

    .header__bell {
      width: 34px;
      height: 34px;
      margin-top: 5px;
      background: url("img/bell.png") center no-repeat;
    }
  }

  .header__user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    color: white;

    .header__user-photo {
      width: 32px;
      height: 32px;
      margin-right: 5px;
      background: url("img/user__photo.jpg") center no-repeat;
      border-radius: 5px;

    }
  }

}

.main_wrapper {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}

.navigation {
  width: 212px;

  nav {

    .navigation__item {
      width: 215px;
      height: 53px;
      padding-top: 13px;
      padding-bottom: 13px;
      border-bottom: 1px solid #e0e2e6;
      font-size: 18px;

      a {
        padding-left: 27px;
        color: #59606b;
        text-decoration: none;
        vertical-align: text-top;

      }
    }
  }
}

.advertisement {
  padding-bottom: 20px;
  border-bottom: 1px solid #e0e2e6;

  .text__second-color {
    margin-top: 20px;
    padding-bottom: 20px;
  }

  .advertisement__copyright {
    color: #d3d3d3;
    font-size: 12px;
    text-decoration: none;

  }
}

.companies {
  border-bottom: 1px solid #e0e2e6;

  .companies__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }
  .companies__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .companies__image {
      width: 80px;
      height: 80px;
      border-radius: 5px;

    }

    .image01 {
      background: url("img/company__01.jpg") center no-repeat;

    }

    .image02 {
      background: url("img/company__02.jpg") center no-repeat;

    }

    .image03 {
      background: url("img/company__03.jpg") center no-repeat;

    }

    .companies__info {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      padding-bottom: 10px;

      .companies__follow {
        font-size: 10px;
      }
    }
  }
}

.tail {
  margin-top: 17px;

  a {
    font-size: 12px;
    color: #b7bfcd;
  }

  .tail__copyright {
    display: block;
    margin-bottom: 19px;
  }

  .tail__privacy {
    margin-left: 25px;
  }
}

main {

  .services__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 12px;
    height: 62px;

    .services__wrapper-title {
      color: #1c2534;
      font-size: 25px;
    }

    .services__add-button {
      width: 145px;
      height: 30px;
      border-style: none;
      border-radius: 5px;
      background-color: #87b448;
      font-size: 14px;
      color: white;
      outline: none;

      &:hover {
        cursor: pointer;
        outline: none;
      }
    }
  }

  .services {
    border: 1px solid #e0e2e6;
    border-radius: 5px;

    .services__row {
      display: flex;
      justify-content: space-between;
      border-radius: 5px;

      .services__item {
        padding: 15px 9px 20px 14px;

        &:hover {
          cursor: pointer;
        }



        .padIcon {
          width: 140px;
          height: 140px;
          padding: 34px;
          border: 1px solid #e0e2e6;
          border-radius: 5px;

          &:hover {
            background: #f4f7fb;
            cursor: pointer;
          }
        }

        .services__title {
          width: 140px;
          margin: 17px auto 0 auto;
          color: #1c2534;
          font-size: 14px;
          text-align: center;

          &:hover {
            color: #71973c;
            cursor: pointer;
          }
        }


      }
    }
  }
}

aside {
  .people {

    border-bottom: 1px solid #e0e2e6;

    .people__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  .people__item {
    margin-bottom: 20px;

    .people__name {
      margin-bottom: 10px;
    }

    .people__info {
      display: flex;
      justify-content: space-between;

      .people__photo {
        border-radius: 5px;
      }

      .people__text-content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 125px;
        padding-left: 10px;
        padding-bottom: 10px;
      }

      .people__add-friend {
        color: #1c2534;
        font-size: 10px;
      }
    }
  }
  .advertisement {

    .advertisement__image {
      border: 1px solid #e0e2e6;
    }
    .advertisement__copyright {
      display: block;
      margin-top: 8px;
    }
  }

  .products {

    .products__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .products__item {
      margin-bottom: 20px;

      .product__name {
        margin-bottom: 10px;
      }

      .product__content {
        display: flex;
        justify-content: space-between;

        .product__photo {
          width: 80px;
          height: 80px;
          border-radius: 5px;

          &.image01 {
            background: url("img/product__01.jpg") center no-repeat;
          }

          &.image02 {
            background: url("img/product__02.jpg") center no-repeat;
          }
        }

        .product__text {
          width: 125px;

          p {
            line-height: 1.12;
          }
        }
      }
    }
  }
}


