@font-face {
  font-family: 'Proxima Nova';
  src: url("fonts/Proxima Nova Regular.otf"); }
.text__second-color {
  font-size: 14px;
  color: #858e9c; }

.see-all {
  margin-top: 2px;
  font-size: 14px;
  color: #1c2534;
  text-decoration: none; }

.content-width {
  max-width: 950px;
  margin: 0 auto; }

header {
  height: 68px;
  background: #87b448;
  border-bottom: 2px solid #71973c; }
  header .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 11px;
    padding-bottom: 17px; }
    header .header .header__logo {
      margin-left: 3px; }
    header .header .header__search {
      position: relative;
      width: 435px;
      margin-top: 5px;
      margin-left: 20px; }
      header .header .header__search .header__search-icon {
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        top: 2px;
        left: 3px;
        background: url("img/Search.png") center no-repeat; }
      header .header .header__search input {
        align-self: baseline;
        width: 100%;
        height: 34px;
        padding-left: 36px;
        color: white;
        font-size: 15px;
        background-color: #73993d;
        border-style: none;
        border-radius: 5px;
        outline: none; }
        header .header .header__search input::placeholder {
          color: white;
          transition: 0.3s; }
        header .header .header__search input:focus::placeholder {
          color: transparent;
          outline: none; }
    header .header .header__chat {
      width: 34px;
      height: 34px;
      margin-top: 7px;
      margin-left: 15px;
      background: url("img/Chat.png") center no-repeat; }
    header .header .header__bell {
      width: 34px;
      height: 34px;
      margin-top: 5px;
      margin-right: 15px;
      background: url("img/bell.png") center no-repeat; }
  header .header__user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-right: 13px;
    color: white; }
    header .header__user-info .header__user-photo {
      width: 32px;
      height: 32px;
      margin-right: 11px;
      background: url("img/user__photo.jpg") center no-repeat;
      border-radius: 5px; }
    header .header__user-info .header__user-name {
      font-size: 16px;
      margin-right: -6px; }

.main_wrapper {
  display: flex;
  justify-content: space-between; }

.navigation {
  width: 212px; }
  .navigation nav ul {
    display: flex;
    flex-direction: column;
    height: 204px; }
    .navigation nav ul .navigation__item {
      position: relative;
      width: 215px;
      height: 52px;
      border-bottom: 1px solid #e0e2e6; }
      .navigation nav ul .navigation__item a {
        position: absolute;
        top: 17px;
        padding-left: 26px;
        color: #59606b;
        text-decoration: none;
        vertical-align: text-top;
        font-size: 16px; }
      .navigation nav ul .navigation__item .nav-icon {
        width: 24px;
        height: 24px;
        margin-top: 14px;
        margin-left: 3px; }

.advertisement {
  padding-left: 3px;
  padding-bottom: 17px;
  border-bottom: 1px solid #e0e2e6; }
  .advertisement .text__second-color {
    margin-top: 19px;
    font-size: 14px;
    padding-left: 1px;
    padding-bottom: 17px; }
  .advertisement .advertisement__copyright {
    color: #d3d3d3;
    font-size: 10px;
    text-decoration: none; }

.companies {
  padding-left: 3px;
  border-bottom: 1px solid #e0e2e6; }
  .companies .companies__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px; }
  .companies .companies__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; }
    .companies .companies__item .companies__item-name {
      margin-top: -2px; }
    .companies .companies__item .companies__image {
      width: 80px;
      height: 80px;
      border-radius: 5px; }
    .companies .companies__item .image01 {
      background: url("img/company__01.jpg") center no-repeat; }
    .companies .companies__item .image02 {
      background: url("img/company__02.jpg") center no-repeat; }
    .companies .companies__item .image03 {
      background: url("img/company__03.jpg") center no-repeat; }
    .companies .companies__item .companies__info {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      padding-right: 7px;
      padding-bottom: 8px; }
      .companies .companies__item .companies__info .companies__follow {
        font-size: 12px;
        margin-left: 1px; }

.tail {
  margin-top: 17px;
  margin-left: 3px; }
  .tail a {
    font-size: 11px;
    color: #b7bfcd; }
  .tail .tail__copyright {
    display: block;
    margin-bottom: 13px; }
  .tail .tail__privacy {
    margin-left: 22px; }

main {
  margin-left: 20px;
  margin-right: 20px; }
  main .services__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 13px;
    padding-bottom: 20px; }
    main .services__wrapper .services__wrapper-title {
      padding-left: 5px;
      color: #1c2534;
      font-size: 30px; }
    main .services__wrapper .services__add-button {
      width: 145px;
      border-style: none;
      border-radius: 5px;
      background-color: #87b448;
      font-size: 14px;
      color: white;
      outline: none; }
      main .services__wrapper .services__add-button:hover {
        cursor: pointer;
        outline: none; }
  main .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #e0e2e6;
    border-radius: 5px;
    padding: 4px; }
    main .services .services__item {
      width: 140px;
      margin: 9px; }
      main .services .services__item:hover {
        cursor: pointer; }
        main .services .services__item:hover .services__title {
          color: #71973c; }
      main .services .services__item .padIcon {
        width: 140px;
        height: 140px;
        padding: 34px;
        border: 1px solid #e0e2e6; }
        main .services .services__item .padIcon:hover {
          background: #f4f7fb;
          cursor: pointer; }
      main .services .services__item .services__title {
        max-width: 80%;
        margin: 17px auto 0 auto;
        color: #1c2534;
        font-size: 13px;
        text-align: center; }

aside {
  width: 213px;
  padding-right: 5px; }
  aside .people {
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e2e6; }
    aside .people .people__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 45px;
      padding-top: 5px;
      margin-bottom: 3px; }
  aside .people__item {
    margin-bottom: 19px; }
    aside .people__item .people__name {
      margin-bottom: 7px; }
    aside .people__item .people__info {
      display: flex;
      justify-content: space-between; }
      aside .people__item .people__info .people__photo {
        border-radius: 5px; }
      aside .people__item .people__info .people__text-content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 125px;
        padding-left: 3px;
        padding-bottom: 10px;
        line-height: 1.2; }
      aside .people__item .people__info .people__add-friend {
        color: #1c2534;
        font-size: 12px;
        line-height: 0.9; }
  aside .advertisement {
    margin-top: 42px;
    padding-left: 0; }
    aside .advertisement .advertisement__image {
      border: 1px solid #e0e2e6; }
    aside .advertisement .advertisement__copyright {
      display: block;
      margin-top: 4px; }
  aside .products .products__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px; }
  aside .products .products__item {
    margin-top: 2px;
    margin-bottom: 15px; }
    aside .products .products__item .product__name {
      margin-bottom: 8px; }
    aside .products .products__item .product__content {
      display: flex;
      justify-content: space-between; }
      aside .products .products__item .product__content .product__photo {
        width: 80px;
        height: 80px;
        border-radius: 5px; }
        aside .products .products__item .product__content .product__photo.image01 {
          background: url("img/product__01.jpg") center no-repeat; }
        aside .products .products__item .product__content .product__photo.image02 {
          background: url("img/product__02.jpg") center no-repeat; }
      aside .products .products__item .product__content .product__text {
        width: 125px;
        padding-left: 7px; }
        aside .products .products__item .product__content .product__text p {
          line-height: 1.12; }

/*# sourceMappingURL=style.css.map */
